<div class="mt-5">
            <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default min-w-[40%] w-fit max-w-full ">
                    <table class="w-full text-sm text-left rtl:text-right text-body ">
                        <thead class="text-sm text-body bg-neutral-secondary-soft border-b border-default">
                        <tr class="text-xs">
                            <th class="px-6 py-3 font-medium">Product name</th>
                            <th class="px-6 py-3 font-medium">Color</th>
                            <th class="px-6 py-3 font-medium">
                                <strong class="hover:text-red-500 cursor-pointer">+</strong>
                            </th>
                        
                        </tr>
                        </thead>
                        <tbody class=" ">
                        <tr class="bg-neutral-primary border-b border-default text-xs">
                            <td class="px-6 py-4">Silver</td>
                            <td class="px-6 py-4">Silver</td>
                            
                        </tr>

                        <tr class="bg-neutral-primary border-b border-default">
                            <td class="px-6 py-4 ">
                                <strong class="hover:text-red-500 cursor-pointer">+</strong>
                            </td>
                        
                            
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>