<div class=" flex flex-col  mx-[10%] items-center my-10">
  
    <div>

    </div>
    <div class="text-justify w-[70%]">
        <P class="text-[1rem] text-red-600">Aviso de privacidad</P>
        <p class="text-[0.8rem]  text-stone-300">Este sitio web contiene contenido para adultos y está destinado únicamente a personas mayores de 18 años (o la edad legal en tu jurisdicción). Al acceder, confirmas que cumples con este requisito. Cada usuario es responsable del consumo de este tipo de contenido. 
           
        </p>
        <br>
        <button class="p-1 bg-red-600 text-white text-[0.8rem] hover:bg-red-900"> Mas información</button>

    </div>



</div>