
<div class="md:mx-[10%]">
    <div class="mt-5 m-2 border rounded-sm border-white flex flex-col">
        <div class="flex p-2 bg-stone-900">
            <div class="flex justify-center items-center">
                <img  class="w-[3rem] h-[3rem] rounded-full " src="../../../assets/icons/user-default.png">

            </div>
            <div >
                <p class="text-xl text-red-600">Titulo del post</p>
                <p>Por: Usuario</p>
            </div>
        
            
            
          
        </div>
        <div class="border-b border-white">

        </div>
        <div class="p-4">
            
            <p class="text-sm text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem recusandae accusamus aliquam commodi veritatis rerum quo iste quaerat asperiores sit pariatur temporibus sequi eveniet, nobis eius enim animi cum ratione quae obcaecati harum ipsa fuga! Repellat, reprehenderit quia. Fuga vero tempore dicta laudantium maxime neque magni natus voluptatum quaerat aliquam officiis, sequi iusto, consequatur omnis inventore, magnam doloremque. Atque aperiam exercitationem sed magnam praesentium possimus velit, laudantium quo sit tempora aliquam! Ex debitis assumenda rerum, libero sed maxime exercitationem doloremque veritatis, dolor a atque! Itaque cum excepturi quas minus, dolore eaque qui enim, sequi facere rerum mollitia quia quisquam nobis.</p>
        </div>
       
       
    </div>

</div>


