<div class="flex justify-center ">


    <!-- Componente article container o dejarlo como una page -->
    <div class="w-[80%] mx-3">

        <!--Componente article-->
        <app-article></app-article>

        <hr class="border-t border-gray-300 my-4">

        <!-- Div de contenidos del articulo -->
        <app-content-anchor></app-content-anchor>


        <!--  -->

     

        <!-- Componente tabla -->
        <app-table></app-table>

        
        <!-- Componente galeria de imagenes -->
        <app-gallery></app-gallery>




      






        
        
        <div class="">

        </div>
    </div>
</div>