<div class="flex justify-center items-center h-screen flex-col" @fadeIn>





    <form [formGroup]="login" (ngSubmit)="submit()" class="w-full max-w-sm flex flex-col space-y-4" *ngIf="switchForms">
        <div>
            <label>
                Username 
                <input type="text" formControlName="username" class="border p-2 w-full">
            </label>
        </div>
       <div>
        <label>
            Password
            <input type="password" formControlName="password" class="border p-2 w-full">
        </label>
       </div>
        
        <button type="submit" [disabled]="login.invalid" class="bg-red-600 hover:bg-red-800 hover:cursor-pointer text-white p-2">Submit</button>
       
    </form>




    <form [formGroup]="register" (ngSubmit)="registrar()" class="w-full max-w-sm flex flex-col space-y-4" *ngIf="!switchForms">
        <div>
            <label> Username
            <input  type="text" formControlName="username" class="border p-2 w-full">
            </label>
        </div>
        <div>
            <label>
                Password
                <input type="text" formControlName="password" class="border p-2 w-full">
            </label>
        </div>
        <div>
            <label>
                Repeat Password
                <input type="text" formControlName="repassword" class="border p-2 w-full">
            </label>
        </div>

        <button type="submit" [disabled]="register.valid" class="bg-red-600 hover:bg-red-800 hover:cursor-pointer text-white p-2">Submit</button>
    </form>



    <div class="flex flex-col  text-xs text-center mt-4 ">
        <p class="cursor-pointer hover:text-red-600">¿Olvidaste tu contraseña?</p>
        <ng-container>
            <p *ngIf="switchForms" (click)="cambiarForm()" class="cursor-pointer hover:text-red-600">Registrarse</p>
            <p *ngIf="!switchForms" (click)="cambiarForm()" class="cursor-pointer hover:text-red-600">Login</p>
        </ng-container>
    </div>
</div>
