<div class="flex m-5 p-3 bg-stone-900 border-2 border-red-600">
    <div class="flex-1">
        <img src="../../pages">
    </div>
    <div class="w-[90%]">
        <div >
            
            <div >
                
                <h1> <span class="text-red-500">Tags del post</span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, odio.</h1>
            </div>
        </div>

        <div class="flex text-sm">
            <div class="">
                Usuario
            </div>
            <div class="ml-3">
                06/08/24
            </div>
            <div class="ml-3">
                Categoria
            </div>
        </div>

        <div class="flex text-xs ">
            <div class="text-gray-300">
                Vistas 9999
            </div>
        </div>
        <div class="flex text-xs">
            <div class="text-gray-300">
                Respuestas 90k
            </div>
        </div>
        
    
    </div>
</div>