@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Noto Sans Mono", monospace;
    color: white;
}


body{
    background-color: rgb(11, 11, 11);
}
